.App{
  width: 100%;
  display: flex;
  padding: 50px 190px;
  background-color: rgb(228, 95, 0);
}
.left{
  background-image: url(./images/pexels-cottonbro-studio-5989924.jpg);
  background-size: cover;
  height: 87vh;
  width: 50%;
}
.right{
  height: 87vh;
  width: 50%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: cursive;

}
.bttn{
  margin: 20px;
  background-color: rgb(228, 95, 0);
  border: none;
}
h1{
  font-family: cursive;
}